

<ion-content class="ion-padding">
  <ion-item class="primerItem">
    <ion-label position="floating">Email</ion-label>
    <ion-input type="email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input type="password"></ion-input>
  </ion-item>
  <ion-button size="full"
              color="secondary"
              (click)="Login()">
    Login
  </ion-button>
  <ion-button fill="clear" (click)=sendToRegister()>
    Registrarme
  </ion-button>  

</ion-content>
